ol {
  --neutral-900: #333;

  --font-text: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crumb-list {
  display: flex;

  color: var(--neutral-900);
  font-family: var(--font-text);

  list-style-type: none;
}
